{% extends 'layout.html' %}

{% block body %}
    <h1>Privacy</h1>
    <div>I store your words</div>
<div>to make them show</div>
    <div>themselves to you</div>
    <div>through your screen's glow</div>
    <p></p>
    <div>If you don't hit</div>
    <div>"Save to account"</div>
    <div>when you exit your browser</div>
    <div>I'll delete them all</div>
    <p></p>
    <p><em>(See how that last line doesn't rhyme? It's sad. How you feel right now is a metonomy for how not saving your work is sad. Save your work, writers!)</em></p>
</div>
{% endblock %}
